#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.begin--button {
  cursor: pointer;
  background-color: #4D5B9E;
  color: #F5F7FB;
  width: 12rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 1.5rem;
}

.begin--button:hover {
  background-color: #4fe98d;
  color: #F5F7FB;
}
.start--button {
  cursor: pointer;
  background-color: #4D5B9E;
  color: #F5F7FB;
  width: 12rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 1rem;
  /* margin-top: 1rem; */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-size: 1.2rem;
}

.start--button:hover {
  background-color: #4fe98d;
  color: #F5F7FB;
}
.quizoption--container{
  margin-top: -1rem;
}

.quiz--selection {
  font-family: "Karla", sans-serif;
  font-size: 1.25rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #D6DBF5;
  margin-top: -1rem;
  padding: 0.5rem;
  width: 20rem;
  cursor: pointer;
}
.quiz--heading {
  text-align: left;
}
.Quiz--Answer--Options {
  list-style-type: none;
  display: inline-block;
  border: 0.1rem solid #4D5B9E;
  border-radius: 1rem;
  margin-right: 1rem;
  padding: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0.5rem;
}
.Quiz--Answer--Options:hover {
  cursor: pointer;
  background-color: #D6DBF5;
}
